:root {
    --bg-cream: #FDFBED;
    --teal-dark: #0D4D4D;
    --green-accent: #22C55E;
    --white: #FFFFFF;
}

nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* From https://css.glass */
    /* background: rgba(13, 77, 77, 0.55); */
    background: rgba(13, 77, 77, 0.81);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(13, 77, 77, 0.06);
    position: fixed;
    top: 0;
    z-index:0;

}

.logo-container{
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.logo-container img {
    width: 100%;
    object-fit: cover;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: rgba(13, 77, 77, 0.81);
    border-radius: 16px;
    /* backdrop-filter: blur(7.4px); */
    /* -webkit-backdrop-filter: blur(7.4px); */
    display: flex;
    flex-direction: column;
    padding: 100px 40px;
    gap: 25px;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
}


.nav-menu.show {
    right: 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 10px;
}
.nav-menu a:hover{
    color: black;
    text-decoration: underline;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;
}

.signup-btn {
    width: 110px;
    background: crimson;
    color: var(--white);
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px 0;
}

.lang-btn {
    width: 110px;
    background: transparent;
    border: 1.5px solid var(--bg-cream);
    color: var(--bg-cream);
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 10px;
}

/*desktop nav*/
@media (min-width: 768px) {
    .ham-btn {
        display: none;
    }

    .nav-menu {
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        align-items: center;
        background: transparent;
        padding: 0;
        box-shadow: none;
    }

    .logo-container img {
        height: 70px;
        width: auto;
    }
}