:root {
    --bg-cream: #FDFBED;
    --teal-dark: #0D4D4D;
    --teal-light:#186434;
    --green-accent: #22C55E;
    --white: #FFFFFF;
    --crimson-light:#ce4848;
    --darkselmon:darksalmon;
    --crimson-extra-light:#FD8A6B;
}

@font-face {
    font-family: 'pop';
    src: url(../fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pop';
}

html,
body {
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: var(--bg-cream);

}

.hero{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 40px 20px 0 20px;
    background-color: var(--green-accent);
}

.hero h1{
    font-size: 2.5rem;
    color: var(--teal-dark);
}