:root {
    --bg-cream: #FDFBED;
    --teal-dark: #0D4D4D;
    --green-accent: #a1d3b3;
    --warn-red: #EF4444;
    --warn-amber: #F59E0B;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}