  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html,
  body {
      width: 100%;
      height: 100%;
      background-color: rgb(49, 49, 49);

  }

  .background {
      width: 100%;
      height: 100%;
      background: url(../images/location.webp);
      background-size: cover;
      filter: blur(8px);
      -webkit-filter: blur(8px);
  }

  @font-face {
      font-family: 'pop';
      src: url(../fonts/Poppins-Regular.ttf);
  }

  select {
      border: 1px solid crimson;
  }

  i {
      color: black;
      margin-right: 5px;
      font-size: 20px;
  }

  main {
        position: absolute;
    z-index: 1;
    top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  #map {
      width: 300px;
      height: 300px;
      margin-left: 4px;
      border-radius: 10px;
      box-shadow: 0 0 5px 1px ;

  }

  .controls {
      background: white;
      padding: 12px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 220px;
      margin: 10px 38px;
      box-shadow: 0 0 10px 4px ;
  }
  .controls i{
    color: whitesmoke;
  }

  button,
  select {
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 6px;
      border: none;
      
  }

  button {
      background: #2563eb;
      color: white;
  }

  .header {
      background-color: rgb(0, 128, 94);
      width: 50%;
      height: 15%;
      color: white;
      border: none;
      border-radius: 10px;
      margin: 10px auto;
      display: flex;
      align-items: center;
      justify-content: center;

  }
  .header i{
    /* color: rgb(26, 26, 26); */
      color: white;

  }

  h2 {
      font-family: 'pop';
  }

  @media (min-width: 768px) {
      .ham-btn {
          display: none;
      }

      .nav-menu {
          position: static;
          height: auto;
          width: auto;
          flex-direction: row;
          align-items: center;
          background: transparent;
          padding: 0;
          box-shadow: none;
      }

      .logo-container img {
          height: 70px;
          width: auto;
      }

      #map {
          width: 700px;
          height: 700px;
          margin-left: 40px;
          border-radius: 10px;
      }
  }

  @media (min-width: 1024px) {
      #map {
          width: 1000px;
          height: 1000px;
          margin: auto;
          border-radius: 10px;
      }
  }